extends ../../../templates/master
block prepend main
	.mx-5
		.jumbotron.my-4
			h1.display-3 A Warm Welcome #{currentUser.strFirstname}!
			p.lead
				| You're just a few steps closer to experiencing your dream holiday on a true nature paradise. Please click the button below to make your reservation and we'll get back to you shortly.
			//- a.btn.btn-primary.btn-lg(href='/reserve') Reserve Now
			a.btn.btn-primary.btn-lg(href='#' data-toggle="modal" data-target="#exampleModal") Reserve Now
			#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
				.modal-dialog(role='document')
					.modal-content
						.modal-header
							h5#exampleModalLabel.modal-title Reservation Type
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') ×
						.modal-body.p-0.mx-auto
							a.mb-4(href='/reserve/private')
								img.img-fluid.img-on-modal(src=`/img/slide_1.jpg`, alt='' style='background-color: black;')
								span.text-on-modal-first.text-uppercase Private
							a.mb-4(href='/reserve/public')
								img.img-fluid.img-on-modal.ml-1(src=`/img/slide_2.jpg`, alt=''  style='background-color: black;')
								span.text-on-modal-second.text-uppercase Public

						.modal-footer
							button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
			.row.mt-5
				each image in images
					.col-md-3.col-sm-6.mb-2
						a(href=`/img/uploads/${image.strImage}?image=250` data-toggle="lightbox" data-max-width="900")
							img.img-fluid(src=`/img/uploads/${image.strImage}?image=250`, alt='')

